<h1>Editing contact</h1>

<%= render 'form', contact: @contact %>
<%= link_to 'Show', @contact, class:"f6 link dim br2 ba bw1 ph3 pv2 mb2 dib b__black" %>
<%= link_to 'Back', contacts_path, class:"f6 link dim br2 ba bw1 ph3 pv2 mb2 dib hot-pink" %>
<%= link_to 'Delete', @contact, method: :delete, data: { confirm: 'Are you sure?' }, class:"f6 link dim br2 ba bw1 ph3 pv2 mb2 dib b--black black" %>
